@import '../../../scss/variables.scss';
@import '../../../scss/mixin';
.bodyheader-container{
    width:auto;
    height: auto;
    padding: .5rem 1em;
    display: flex;
align-items: center;
    background-color:$bodybgcolor ;
    @include respond(tab-port){
        flex-direction: column;
    }
    &-left{
        width: 50%;
        padding:.5rem 1rem;
        @include respond(tab-port){
            width: 100%;
        }
        &>h1{
            color: $headingcolor;
            font-size: 6rem;
            // line-height: 6rem;
        }
        &>h3{
            font-size: 1.5rem;
            margin-top:1rem;
            color: $textcolor;
            font-weight: 600;
        }
        &-btn{
        //    width: 13rem;
        //     display:flex;
        //     align-items:center;
            text-decoration: none;
            font-size: 1.5rem;
            height: 2rem;
margin-top: 3rem;
border-radius: .5rem;
border: none;
            padding: .5rem 1rem;
            background-color: $blue;
            color: white;
            // border: 1px solid gray;
        }
        &-btn:hover{
            background-color: $darkblue;
        }
        &-inputfield{
            margin-top: 1rem;
            width: 100%;
            display: flex;
            padding:.5rem 0rem;
            // background-color: $darkblue;
            &>input{
                width: 70%;
                height: 2rem;
                padding: 1rem .5rem;
                border: 1px solid $blue;
                border-right: none;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
                &:focus{
                    outline: none;
                }
            }
            &>button{
              padding: 1rem 1rem;
              height: 2rem;
              font-size: 2rem;
              border: 1px solid $blue;
              color: white;
              background-color: $blue;
              border-bottom-right-radius:.5rem ;  
              border-top-right-radius:.5rem ;
              cursor: pointer;  
            }
            &>button:hover{
                background-color: $darkblue;
                border: 1px solid $darkblue;
            }
        }
    }
    &-right{
        width: 50%;
        padding: .5rem .5rem;
        display: flex;
        justify-content: center;
        // background-color: lightcoral;
        @include respond(tab-port){
            width: 100%;
        }
        &>img{
            width:75%;
            height:55vh;
            border-radius: 1rem;
            @include respond(tab-port){
                width: 100%;
            }

        }
    }
}

// .arrow-icon{
//     margin-top:1rem ;
//     font-size: 2rem;
// }


.commontopic-container{
    width:100%;
    // height:17vh;
    display: flex;
    justify-content: center;
    padding: .5rem 0rem;
    background-color:$blue;
    @include respond(tab-port){
        // background-color: greenyellow;
        width: 100%;
    }
    &-content{
        width: 99%;
        display: flex;
        padding: 0rem 2rem;
        align-items: center;
        // background-color: aqua;
        height:15vh;
        @include respond(tab-port){
            // background-color: aqua;
        }
        &>h1{
            color: white;
        }
        &-disease{
            display: flex;
            margin-left: 7rem;
            @include respond(tab-port){
                // flex-direction: column;
margin-left: 3rem;
            }
            &>p{
                font-size: 1.5rem;
                margin-right: 2rem;
                color: white;
            }
            &>p:hover{
                text-decoration: underline;
            }
            &>span{
                font-size: 1.5rem;
                margin-right: 2rem;
                color: white;
                @include respond(tab-port){
                    // display: none;
                }
            }
        }
        &-disease2{
            display: flex;
            color: white;
            &>p{
                font-size: 1.5rem;
                margin-right: 2rem;
                color: white;
            }
            &>p:hover{
                text-decoration: underline;
            }
            &>span{
                font-size: 1.5rem;
                margin-right: 2rem;
                color: white;
            }

        }
    }
}