@import '../../scss/mixin';
@import '../../scss/variables.scss';
.signin {
  height: 100vh;
  &-container {
    display: flex;
    &-left {
      width: 43%;
      background-image: linear-gradient(
          to right bottom,
          rgba(60, 80, 151, 0.858),
          rgba(60, 80, 151, 0.858)
        ),
        url(../assest/psyco2.png);
      // background-position: center;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(phone) {
        display: none;
      }
      &-content {
        width: 40rem;
        & > h1 {
          color: white;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 700;
        }
      }
    }
    &-right {
      width: 57%;
      height: 87.6vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
  // background-color: aqua;

      @include respond(phone) {
        width: 100%;
      }
      padding: 4rem 4rem;
      &-form {
        &-signin {
          width: 75%;
          margin: auto;

          @include respond(phone) {
            width: 90%;
          }

          &-checkbox {
            display: flex;
            margin: 1.5rem 0rem;
            & > input {
              accent-color: blue;
              margin-right: 1rem;
              border: none;
              outline: none;
              background: none;
            }
          }
          &-btn {
            @include respond(phone) {
              padding-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

//  Sign Up Page left

.signleft {
  &-content {
    width: 77%;
    & > h1 {
      // color: white;
      color: red;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 800;
    }
  }
}
.login-txt{
  color: white;
  align-items: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.chckbx-text{
  color: black;
}
.frgt-pswrd a{
  margin-top: 3rem;
  font-size: 1.5rem;
  @include respond(phone){
    margin-top: 2rem;
  }
}
.frgt-pswrd:hover{
  font-weight: 500;
}

.login-btn2{
  padding: .5rem 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: $blue;
  color: white;
  border: none;
  border-radius: .5rem;
}